div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div a{
    background-color: rgb(218, 210, 210);
    padding: .3rem 1rem;
    margin: 0.2rem .15rem;
    border-radius: 5rem;
     color: blue;
     font-weight: 600;
}