ul{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;

}
ul li a{
    height: 22rem;
    width: 18rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    line-height: 1.5rem;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
img{
    height: 18rem;
    width: 20rem;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;
}
.content{
   padding: 0.5rem 1rem;
   position: relative;
}
.favorite{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.4rem;
}
.favorite.not{
    color:black
}
.star{
    margin-bottom: .2rem;
}
.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.origins{
    flex:7;
}
.origins span{
    border-radius: 1.5rem;
    background-color: rgb(231, 224, 224);
    color: rgb(126, 123, 123);
    font-size: .8rem;
    margin-right: .3rem;
    display: inline-block;
    padding: 0.1rem;
}
.cook-time{
    font-size: .8rem;
    flex: 3;
    text-align: right;
}
.price{
    color: rgb(107, 103, 103);
}